---
interface Props {
	slides: number
}

const { slides }: Props = Astro.props
---

<section
	class='select-none'
	aria-label='Cargando películas y series destacadas'
>
	<article
		class='bg-muted aspect-video animate-pulse rounded-lg'
		aria-hidden='true'
	>
	</article>
	<footer
		class='my-1.5 flex justify-end gap-1'
		aria-hidden='true'
	>
		{
			Array.from({ length: slides }).map((_, index) => (
				<span class={`bg-muted h-5 animate-pulse rounded-full ${index ? 'w-5' : 'w-10'}`} />
			))
		}
	</footer>
</section>
