---
import { IconBrandGithub, IconColorPalette, IconFolderBox, IconJudgeGavel, IconSparklesTwo } from '@intentui/icons'
import Link from './link.astro'

const currentDate: Date = new Date()

const currentYear: number = currentDate.getFullYear()
---

<div
	class='bg-navbar [&_h5]:text-fg flex flex-wrap gap-6 rounded-xl border p-3.5 sm:grid sm:auto-rows-auto sm:grid-cols-2 sm:justify-between [&_:is(p,li)]:text-xs [&_:is(p,li)]:text-pretty [&_:is(p,li)]:sm:text-sm [&_h5]:font-sans [&_h5]:text-xs [&_h5]:font-medium [&_h5]:tracking-normal [&_h5]:text-balance [&_h5]:opacity-85 [&_h5]:sm:text-sm [&_li]:w-fit'
>
	<section class='space-y-3'>
		<header class='flex items-center gap-2'>
			<IconColorPalette aria-hidden='true' />
			<h5>Rediseño de Mercado Play</h5>
		</header>
		<p class='text-neutral-500'>
			Este rediseño propone una alternativa para monetizar el servicio de streaming <Link
				intent='primary'
				href='https://play.mercadolibre.com.ar/'
				rel='noopener noreferrer'
				target='_blank'
				>Mercado Play</Link
			>, integrando sugerencias de productos relacionados con películas o series, acompañadas por campañas de <Link
				intent='primary'
				href='https://academy.mercadoads.com/'
				rel='noopener noreferrer'
				target='_blank'
				>Mercado Ads</Link
			>.
		</p>
	</section>
	<section class='space-y-3 justify-self-center'>
		<header class='flex items-center gap-2'>
			<IconFolderBox aria-hidden='true' />
			<h5 id='footer__project-material_header'>Material del proyecto</h5>
		</header>
		<ul
			class='flex flex-col justify-between gap-2.5 lg:grid lg:auto-cols-min lg:auto-rows-min lg:grid-cols-2 lg:grid-rows-2 lg:gap-x-16 2xl:flex 2xl:flex-row'
			aria-labelledby='footer__project-material_header'
		>
			<li>
				<Link
					className='flex items-center gap-2'
					intent='primary'
					href='https://github.com/hozlucas28/Mercado-Play/blob/Master/README.md'
					rel='noopener noreferrer'
					target='_blank'
				>
					<IconSparklesTwo aria-hidden='true' />
					Análisis y motivación
				</Link>
			</li>
			<li>
				<Link
					className='flex items-center gap-2'
					intent='primary'
					href='https://github.com/hozlucas28/Mercado-Play'
					rel='noopener noreferrer'
					target='_blank'
				>
					<IconBrandGithub aria-hidden='true' />
					Código fuente
				</Link>
			</li>
			<li>
				<Link
					className='flex items-center gap-2'
					intent='primary'
					href='https://github.com/hozlucas28/Mercado-Play/blob/Master/LICENSE'
					rel='noopener noreferrer'
					target='_blank'
				>
					<IconJudgeGavel aria-hidden='true' />
					Licencia
				</Link>
			</li>
		</ul>
	</section>
	<section class='col-span-full w-full'>
		<h5 class='text-neutral-500! sm:text-sm! md:text-base!'>
			Copyright © 2025-{currentYear}
			<Link
				intent='primary'
				href='https://github.com/hozlucas28'
				rel='noopener noreferrer'
				target='_blank'
			>
				@hozlucas28
			</Link>
		</h5>
	</section>
</div>
