<header
	class='relative z-10 animate-pulse select-none'
	aria-label='Cargando encabezado'
>
	<!-- Container -->
	<div
		class='fixed z-10 w-full [animation:remove-padding_linear_both] px-2.5 pt-2 [animation-range:0_32px] [animation-timeline:scroll()] xl:animate-none'
		aria-hidden='true'
	>
		<navbar
			class='bg-muted relative mx-auto block h-12 w-full max-w-7xl [animation:remove-border_linear_both] rounded-xl border px-4 [--navbar-height:3.5rem] [animation-range:0_32px] [animation-timeline:scroll()] md:h-(--navbar-height) xl:animate-none 2xl:max-w-(--breakpoint-2xl)'
		>
			<!-- Backdrop -->
			<span
				class='bg-bg/40 dark:bg-bg/90 absolute inset-0 -z-10 mx-auto h-[calc(var(--navbar-height)+0.5rem)] w-full max-w-[calc(var(--container-7xl)+0.5rem)] [animation:fade-in_linear_both] rounded-xl blur-md [--navbar-height:3.5rem] [animation-range:0_32px] [animation-timeline:scroll()] md:h-[calc(var(--navbar-height)+1rem)] md:max-w-[calc(var(--container-7xl)+1rem)] 2xl:max-w-(--breakpoint-2xl)'
			></span>
		</navbar>
	</div>
</header>
