---
interface Props {
	slides: number
}

const { slides }: Props = Astro.props
---

<section
	class='mb-4 select-none sm:mb-6 lg:mb-12'
	aria-label='Cargando películas y series destacadas'
>
	<!-- Slide -->
	<article
		class='bg-muted aspect-video animate-pulse rounded-lg border'
		aria-hidden='true'
	>
	</article>

	<!-- Selectors -->
	<footer
		class='my-1.5 flex justify-end gap-1'
		aria-hidden='true'
	>
		{
			Array.from({ length: slides }).map((_, index) => (
				<button
					class={`bg-muted pointer-events-none h-5 animate-pulse rounded-full border ${index ? 'w-5' : 'w-10'}`}
				/>
			))
		}
	</footer>
</section>
